body {
    background-color: rgb(156, 87, 202);
}

section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 3%;
   width: 173px; 
   height: 30px;
   background-color: rgb(156, 87, 202);
   border: none;
   color: rgb(255, 255, 255);
}

a {
    color: rgb(38, 149, 228);
}
